<h1>Bienvenue <%= @first_name%></h1>
<ul> 
    <li><a href=<%=gossips_path%> >Afficher tous les gossips</a></li>
    <li><a href=<%=new_gossip_path%> >Créer un nouveau gossip</a></li>

    <li><a href="#">Voir mon profil</a></li>
</ul>